<div class="container mt-4">
  <form class = "form-inline" (submit)="searchUsername()">
    <div class="form-floating mb-3">
      <input type="text" name="user" [(ngModel)]="userQuery" class="form-control" id="floatingInput" placeholder="text">
      <label for="floatingInput">Github username</label>
      <button type="button" type ="submit" value = "submit" class="btn btn-outline-info">Search</button>
    </div>
    <div class="form-floating mb-3">
      <input required type="text" name = "repository" [(ngModel)]="userQuery" class="form-control" id="floatingInput" placeholder="text">
      <label for="floatingInput">Github repository</label>
      <button type="button" type = "submit" value = "submit" class="btn btn-outline-info">Search</button>
    </div>
  </form>
</div>
<div class ="row">
  <div class = "col-md-6">
    <app-user-profile [username]="username"></app-user-profile>
  </div>
</div>
<div class = "row">
  <div class = "col-md-12">
    <app-repository [repository] = "repository"></app-repository>
  </div>
</div>