<div class="container mt-4">
  <form class = "form-inline" (submit)="searchUsername()">
    <div class="form-floating mb-3">
      <input type="text" name="user" [(ngModel)]="userQuery" class="form-control" id="floatingInput" placeholder="text">
      <label for="floatingInput">Github username</label>
      <button type="button" type ="submit" value = "submit" class="btn btn-outline-info">Search</button>
    </div>
    <div class="form-floating mb-3">
      <input required type="text" name = "repository" [(ngModel)]="userQuery" class="form-control" id="floatingInput" placeholder="text">
      <label for="floatingInput">Github repository</label>
      <button type="button" type = "submit" value = "submit" class="btn btn-outline-info">Search</button>
    </div>
  </form>
</div>
<div class ="row">
  <div class = "col-md-6">
    <app-user-profile [username]="username"></app-user-profile>
  </div>
</div>
<div class = "row">
  <div class = "col-md-12">
    <app-repository [repository] = "repository"></app-repository>
  </div>
</div>
<hr>
<div class = "container-fluid">
  <h4 id="username-header">karanikathungu-crypto</h4>
</div>
<div class = "container">
  <div class = "row">
    <div class = "col-md-4" class="about">
      <p>Hey there! Just a simple guy finding simple solutions to challenging problems through software.
        Currently skilled in programming using languages such as:
      </p>
      <ul>
        <li>Javascript</li>
        <li>Typescript</li>
        <li>Java</li>
      </ul>
    </div>
    <div class = "col-md-4" id="profpic">
      <!-- <img src="assets/programmer.jpg"> -->
    </div>
    <div class = "col-md-4" class="about">
      <p>I believe true happiness can only be achieved in one's life by engaging in activities that one cherishes, and programming happens to be among the top in my list of self-fulfilling activities.</p>
    </div>
  </div>

</div>