<div class="card" id="info">
  <div class = "card-header">
    <span class="badge rounded-pill bg-dark mr-4">{{username.followers}}Followers</span>
    <span class="badge rounded-pill bg-dark mr-4">{{username.following}}Following</span>
    <span class="badge rounded-pill bg-dark mr-4">{{username.public_gists}}Gists</span>
    <span class="badge rounded-pill bg-dark mr-4">{{username.public_repos}}Repos</span>
  <!-- <ul class="list-group list-group-flush">
    <li class="list-group-item">An item</li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
  </ul> -->
 </div>
 <div class="card-body">

 </div>
</div>
