 <div class = "container" height="200px">
  <div class="card" id="info">
    <div class = "card-header">
      <span class="badge rounded-pill bg-dark mr-4">{{username.followers}}Followers</span>
      <span class="badge rounded-pill bg-dark mr-4">{{username.following}}Following</span>
      <span class="badge rounded-pill bg-dark mr-4">{{username.public_gists}}Gists</span>
      <span class="badge rounded-pill bg-dark mr-4">{{username.public_repos}}Repos</span>
    
  </div>
  <div class="card-body"> 
    <ul class="list-group">
      <li class="list-group-item">User Name:{{username.name}}</li>
      <li class="list-group-item">Location:{{username.Location}}</li>
      <li class="list-group-item">Email:{{username.Email}}</li>
      <li class="list-group-item">Company:{{username.Company}}</li>
      <li class="list-group-item">Member since:{{username.created_at|dateCount}}</li>
      <li class="list-group-item">Profile URL:
        <a [href]="username.html_url" target = "_blank">{{username.html_url}}</a></li>
    </ul>

  </div>
  </div>
</div>
