<div class="container-fluid">
  <div class = "row">
    <div class = "col-md-12" id="contact-info">
      <h3 id = "contact-header">Need help?</h3><br>
        <section id="tel">
          <p>Reach out to us on: </p>
          <p><strong>Tel: +25401111920100</strong></p><br>
          <p><strong>Email us on : GitMe@gmail.com</strong></p>
        </section>
    </div>
    <footer>
      <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
      <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
      <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
    </footer>
  </div>
</div>

