<h1>This is a form</h1>
<app-nav-display></app-nav-display>
<div class = "container-fluid">
  <h4>karanikathungu-crypto</h4>
</div>
<div class = "container">
  <div class = "row">
    <div class = "col-md-4">
      <p>Hey there! Just a simple guy finding simple solutions to challenging problems through software.
        Currently skilled in programming using languages such as:
      </p>
      <ul>
        <li>Javascript</li>
        <li>Typescript</li>
        <li>Java</li>
      </ul>
    </div>
    <div class = "col-md-4">
      
    </div>
    <div class = "col-md-4">
      <p>I believe true happiness can only be achieved in one's life by engaging in activities that one cherishes, and programming happens to be among the top in my list of self-fulfilling activities</p>
    </div>
  </div>

</div>
<app-display-form></app-display-form>

<app-contact></app-contact>
